<b>Import Pandas for later use</b>

In [2]:
from pandas import Series, DataFrame
import pandas as pd

<b>Read the original excel in</b>

In [3]:
df = pd.read_csv('/Users/Meiyuan/Downloads/Information is Beautiful- Data Breaches (public) - 2017 update.csv')

<b>Inspect the dataframe</b>

In [5]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,NaN,1st source link,2nd source link,3rd source,source name
1,NaN,NaN,Elaboration if there's an interesting story or...,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",1. Just email address/Online information 20 SS...,NaN,NaN,Show this item in the viz?,NaN,NaN,NaN,NaN,NaN
2,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol...,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
3,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160...,NaN,NaN,ABC
4,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN

<b>We need to use row 0 as the column header and remove row 1 </b>

<b>To use row 0 as header, extract it first </b>

In [9]:
columnHeader = df.iloc[0:1].values.tolist()
#unpack columnHeader since it is a list of list
columnHeader = columnHeader[0]

In [10]:
columnHeader

['Entity',
 'alternative name',
 'story',
 'YEAR',
 'records lost',
 'ORGANISATION',
 'METHOD OF LEAK',
 'interesting story',
 'NO OF RECORDS STOLEN',
 'DATA SENSITIVITY',
 'UNUSED',
 'UNUSED',
 'Exclude',
 nan,
 '1st source link',
 '2nd source link',
 '3rd source',
 'source name']

<b>Re-read the CSV and use columnHeader as headers, and skip the first two rows </b>

In [15]:
df2 = pd.read_csv('/Users/Meiyuan/Downloads/Information is Beautiful- Data Breaches (public) - 2017 update.csv', skiprows=3,names=columnHeader)

In [17]:
df2.head(5)

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,nan,1st source link,2nd source link,3rd source,source name
0,AOL,American Online,A former America Online software engineer stol...,0,92000000.0,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol...,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
1,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000.0,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160...,NaN,NaN,ABC
2,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000.0,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN
3,Citigroup,NaN,Blame the messenger! A box of computer tapes c...,1,3900000.0,financial,lost / stolen device,y,3900000,300,NaN,NaN,NaN,NaN,http://www.nytimes.com/2005/06/07/business/07d...,NaN,NaN,NY Times
4,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Master...",CardSystems was fingered by MasterCard after i...,1,40000000.0,financial,hacked,y,40000000,300,NaN,NaN,NaN,NaN,http://www.msnbc.msn.com/id/8260050/ns/technol...,NaN,NaN,MSNBC

<b> We only need column 0,3,4,5,6 so extract them </b>

In [18]:
df3 = df2.iloc[:,[0,3,4,5,6]]

In [19]:
df3.head(5)

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK
0,AOL,0,92000000.0,web,inside job
1,Automatic Data Processing,1,125000.0,financial,poor security
2,Ameritrade Inc.,1,200000.0,financial,lost / stolen device
3,Citigroup,1,3900000.0,financial,lost / stolen device
4,Cardsystems Solutions Inc.,1,40000000.0,financial,hacked

<b> Convert the year number back to actual years for later data vizulization
"latest" will be converted to "2017" as well

In [22]:
yearCode = df3['YEAR'].values.tolist()
dictYear = {'0': '2004', '1':'2005', '2':'2006', '3':'2007', '4':'2008', '5':'2009', '6':'2010', '7':'2011', '8':'2012', '9':'2013', '10':'2014', '11':'2015', '12':'2016', '13':'2017', '14':'2017'}
year = []
for code in yearCode:
    year.append(dictYear[str(code)])

<b> Append this column to the dataframe </b>

In [26]:
df3.loc[:, 'Actual Year'] = year

In [28]:
df3.head(5)

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,Actual Year
0,AOL,0,92000000.0,web,inside job,2004
1,Automatic Data Processing,1,125000.0,financial,poor security,2005
2,Ameritrade Inc.,1,200000.0,financial,lost / stolen device,2005
3,Citigroup,1,3900000.0,financial,lost / stolen device,2005
4,Cardsystems Solutions Inc.,1,40000000.0,financial,hacked,2005

<b> Save the output to a csv file </b>

In [29]:
df3.to_csv('out.csv')