Dashboard created for the audience to decide whether 'the financial markets punish security breaches '

In [1]:
%%HTML
<div class='tableauPlaceholder' id='viz1509957130510' style='position: relative'><noscript><a href='#'><img alt='Financial Market Responds to Security Breaches Differently ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;La&#47;Lab6_35&#47;FinancialMarkets&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Lab6_35&#47;FinancialMarkets' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;La&#47;Lab6_35&#47;FinancialMarkets&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1509957130510');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1000px';vizElement.style.height='827px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

Below is the data wrangling process to arrive above visulizations.

Read the csv in from Lab2

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataForLab2.csv')

Inspect the data

In [4]:
df[:5]

,Unnamed: 0,ENTITY,ACTUAL YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
0,0,AOL,2004,92000000,web,inside job,1
1,1,Automatic Data Processing,2005,125000,financial,poor security,20
2,2,Ameritrade Inc.,2005,200000,financial,lost / stolen device,20
3,3,Citigroup,2005,3900000,financial,lost / stolen device,300
4,4,Cardsystems Solutions Inc.,2005,40000000,financial,hacked,300

Drop first row

In [5]:
df = df.drop('Unnamed: 0', axis=1)

In [6]:
df[:5]

,ENTITY,ACTUAL YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
0,AOL,2004,92000000,web,inside job,1
1,Automatic Data Processing,2005,125000,financial,poor security,20
2,Ameritrade Inc.,2005,200000,financial,lost / stolen device,20
3,Citigroup,2005,3900000,financial,lost / stolen device,300
4,Cardsystems Solutions Inc.,2005,40000000,financial,hacked,300

Extract the Entity column

In [7]:
entities = df['ENTITY']

Find out the one with higer number breaches

In [8]:
entities.value_counts()[:10]

Yahoo                         3
AOL                           3
Citigroup                     3
Dropbox                       2
US Military                   2
Countrywide Financial Corp    2
AT&T                          2
JP Morgan Chase               2
Sony Pictures                 2
Interpark                     1
Name: ENTITY, dtype: int64

Find out which years the breaches happened

In [9]:
df.index = entities
df.loc['Citigroup',:]

,ENTITY,ACTUAL YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
ENTITY,,,,,,
Citigroup,Citigroup,2005,3900000,financial,lost / stolen device,300
Citigroup,Citigroup,2011,360083,financial,hacked,300
Citigroup,Citigroup,2013,150000,financial,accidentally published,20

### Query this ticker symbol for all entities then analyze Citigroup

In [10]:
import json 
from urllib2 import urlopen

Get Json Responses for all entities

In [11]:
# This function receives a entity name, and parse it into a json object
def getJson(name):
    response = urlopen("http://d.yimg.com/autoc.finance.yahoo.com/autoc?query="+'%20'.join(name.split(' '))+"&region=1&lang=en").read().decode('utf-8')
    responseJson = json.loads(response)
    return responseJson

In [12]:
responsesJsonList = entities.apply(getJson)

In [13]:
responsesJsonList[1:5] # Citigroup in no.3

1    {u'ResultSet': {u'Query': u'ADP', u'Result': [...
2    {u'ResultSet': {u'Query': u'Ameritrade Inc.', ...
3    {u'ResultSet': {u'Query': u'Citigroup', u'Resu...
4    {u'ResultSet': {u'Query': u'Cardsystems Soluti...
Name: ENTITY, dtype: object

Extract the acutal result of every json object

In [14]:
# Get down do the acutal data
def getResults(JsonReponse):
    return JsonReponse.get('ResultSet').get('Result')

In [15]:
resultsList = responsesJsonList.apply(getResults)

In [16]:
resultsList[:5] # Citigroup in no.3

0    [{u'typeDisp': u'Equity', u'name': u'TIME WARN...
1    [{u'typeDisp': u'Equity', u'name': u'Automatic...
2                                                   []
3    [{u'typeDisp': u'Equity', u'name': u'CITIGROUP...
4                                                   []
Name: ENTITY, dtype: object

Extract symbols and names then store in a dic
#### Criteria: IPO in NYSE or NASDAQ and typeDisp is Equity

In [17]:
# If the data set is empty, return an empty list
# If the entity is not listed in NYSE or NASDAQ, return an empty dict
def getSymbolsAndNames(result):    
    symbolsAndNames = {}
    if len(result) == 0:
        return result
    else:
        for item in result:
            if ((item.get('exchDisp') == 'NYSE') and(item.get('typeDisp') == 'Equity')) or ((item.get('exchDisp') == 'NASDAQ') and(item.get('typeDisp') == 'Equity')):
                key  = item.get('symbol')
                value = item.get('name')
                symbolsAndNames[key] = value
        return symbolsAndNames

In [18]:
symbolsAndNamesList = resultsList.apply(getSymbolsAndNames)

In [19]:
symbolsAndNamesList[:5]

0                                                   {}
1         {u'ADP': u'Automatic Data Processing, Inc.'}
2                                                   []
3    {u'C-PP': u'Citigroup Inc.', u'C': u'Citigroup...
4                                                   []
Name: ENTITY, dtype: object

In [20]:
symbolsAndNamesList[139]

{u'C': u'Citigroup Inc.',
 u'C-PC': u'Citigroup Inc.',
 u'C-PJ': u'Citigroup Inc.',
 u'C-PK': u'Citigroup Inc. Dep Shs Repstg 1',
 u'C-PL': u'Citigroup Inc.',
 u'C-PN': u'Citigroup Capital XIII',
 u'C-PP': u'Citigroup Inc.',
 u'C-PS': u'Citigroup Inc.'}

Use fuzzy wuzzy to find the most possible symbol

In [21]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

Use function to extract all names to compare with entities later

In [22]:
# This function process the above dict
# It should return a list with all possible names
# Take Citigroup as an example:
# It should be:
# [u'Citigroup Inc.',
#  u'Citigroup Inc.',
#  u'Citigroup Inc.',
#  u'Citigroup Inc.',
#  u'Citigroup Inc.',
#  u'Citigroup Inc. Dep Shs Repstg 1',
#  u'Citigroup Inc.',
#   u'Citigroup Capital XIII']
def getNames(symbolsAndNames):
    names = []
    if len(symbolsAndNames) == 0:
        return symbolsAndNames
    else :
        for v in symbolsAndNames.values():
            names.append(v)
        return names

In [23]:
namesList = symbolsAndNamesList.apply(getNames)

In [24]:
namesList[:10]

0                                                   {}
1                    [Automatic Data Processing, Inc.]
2                                                   []
3    [Citigroup Inc., Citigroup Inc., Citigroup Inc...
4                                                   []
5                                            [HP Inc.]
6                                                   []
7                                                   {}
8                                                   []
9                                                   {}
Name: ENTITY, dtype: object

In [25]:
namesList[3] # citigroup in no.3

[u'Citigroup Inc.',
 u'Citigroup Inc.',
 u'Citigroup Inc.',
 u'Citigroup Inc.',
 u'Citigroup Inc.',
 u'Citigroup Inc. Dep Shs Repstg 1',
 u'Citigroup Inc.',
 u'Citigroup Capital XIII']

Fuzzy Wuzzy Process Function

For loop to compare entity name with list of names we just processed

In [26]:
# After this loop, fuzzy wuzzy will give out an list of tupes
# Tuple will have this format(name, score)
scoreListOfList = []
for x in range(0, len(entities)):
    entity = entities[x]
    names = namesList[x]
    if len(names) == 0:
        scoreListOfList.append(names)
    else:
        scoreListOfList.append(process.extract(entity,names))

In [27]:
scoreListOfList = pd.Series(scoreListOfList)

In [28]:
scoreListOfList[3] # Citigroup in no.3

[(u'Citigroup Inc.', 95),
 (u'Citigroup Inc.', 95),
 (u'Citigroup Inc.', 95),
 (u'Citigroup Inc.', 95),
 (u'Citigroup Inc.', 95)]

Define a function to get a name which has the higest score

In [29]:
# This should return the name which has the higest score 
def getHighest(scoreList):
    if len(scoreList) == 0:
        return scoreList
    else:
        return scoreList[0][0]

In [30]:
nameHasMaxScoreList = scoreListOfList.apply(getHighest)

In [31]:
nameHasMaxScoreList[3] # Citigroup in no.3

u'Citigroup Inc.'

Look up symbols has the name with highest fuzzy wuzzy score and store it in a list

for loop tp get a list has

In [32]:
symbolsAndNamesList[3]

{u'C': u'Citigroup Inc.',
 u'C-PC': u'Citigroup Inc.',
 u'C-PJ': u'Citigroup Inc.',
 u'C-PK': u'Citigroup Inc. Dep Shs Repstg 1',
 u'C-PL': u'Citigroup Inc.',
 u'C-PN': u'Citigroup Capital XIII',
 u'C-PP': u'Citigroup Inc.',
 u'C-PS': u'Citigroup Inc.'}

In [33]:
# This for loop will look up the symbols which has the value "Citigroup Inc."
# It should return [u'C-PP', u'C', u'C-PS', u'C-PC', u'C-PJ', u'C-PL']
reducedSymbolsList = []
for x in range(0, len(entities)):
    reducedSymbols  = []
    if len(symbolsAndNamesList[x]) != 0:
        for symbol, name in symbolsAndNamesList[x].items() :
            if len(nameHasMaxScoreList[x]) != 0:
                if name == nameHasMaxScoreList[x]:
                    reducedSymbols.append(symbol)
            else:
                reducedSymbols.append(nameHasMaxScoreList[x])
        reducedSymbolsList.append(reducedSymbols)
    else:
        reducedSymbolsList.append(symbolsAndNamesList[x])

In [34]:
reducedSymbolsList = pd.Series(reducedSymbolsList)

In [35]:
reducedSymbolsList[3]

[u'C-PP', u'C', u'C-PS', u'C-PC', u'C-PJ', u'C-PL']

Remove anything after dash and Settle down to a finalized symbol list

In [36]:
import re

In [37]:
# This removes the unnecessary characters in ticker symbols
# It should give out [u'C', u'C', u'C', u'C', u'C', u'C']
def stripSymbols(reducedSymbols):
    strippedSymbols = []
    if len(reducedSymbols) != 0:
        for reducedSymbol in reducedSymbols:
            if '-' in reducedSymbol:
                strippedSymbols.append(re.sub('-[A-Z]+', '', reducedSymbol))
            else :
                strippedSymbols.append(reducedSymbol)
    else:
        strippedSymbols.append(reducedSymbols)
    return strippedSymbols

In [38]:
strippedSymbolsList = reducedSymbolsList.apply(stripSymbols)

In [39]:
strippedSymbolsList[3]

[u'C', u'C', u'C', u'C', u'C', u'C']

Extract the first one as the finalized ticker symbol

In [40]:
# Pick the first one as our finalized symbol for later qurey
# It should be 'C'
def getFinalSymbol(strippedSymbols):
    if len(strippedSymbols) == 0:
        return strippedSymbols
    else:
        return strippedSymbols[0]

In [41]:
finalSymbolsList = strippedSymbolsList.apply(getFinalSymbol)

Incorporate this final Symbol list to the original df

In [42]:
df['Symbol'] = finalSymbolsList.values

In [43]:
df.loc["Equifax",:]

ENTITY                Equifax
ACTUAL YEAR              2017
RECORDS LOST        143000000
ORGANISATION        financial
METHOD OF LEAK         hacked
DATA SENSITIVITY        50000
Symbol                    EFX
Name: Equifax, dtype: object

Save to csv file

In [44]:
df.to_csv('integratedData.csv')

Use pandas_reader to get historical data for ticker symbol C

In [45]:
from pandas_datareader import data as pdr

In [54]:
historicalPriceEFX = pdr.DataReader('EFX', 'yahoo', "2016-01-01", "2017-10-06")

In [55]:
historicalPriceEFX[:5]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04,109.919998,110.239998,108.349998,109.449997,107.318764,1198500
2016-01-05,110.169998,110.769997,109.160004,110.110001,107.965919,1078000
2016-01-06,108.419998,109.680000,108.239998,109.230003,107.103058,575100
2016-01-07,107.339996,108.440002,105.139999,105.290001,103.239784,1087900
2016-01-08,105.750000,105.930000,102.040001,102.239998,100.249161,1421200

Drew the plot to get a idea

save the data to csv file

In [56]:
historicalPriceEFX.to_csv('EFX_stock.csv')

In [57]:
historicalPriceC = pdr.DataReader('C', 'yahoo', "2005-01-01", "2015-10-06")

In [58]:
historicalPriceC.to_csv('C.csv')

In [59]:
historicalPriceC[:5]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2005-01-03,490.000000,490.000000,482.000000,482.700012,391.317444,1474600
2005-01-04,482.799988,487.700012,477.000000,478.600006,387.993591,1584700
2005-01-05,480.500000,487.799988,480.200012,484.600006,392.857635,1893300
2005-01-06,488.000000,492.399994,487.399994,489.299988,396.667938,1804900
2005-01-07,491.000000,491.100006,486.000000,486.500000,394.398102,1280300