In [1]:
import pandas as pd

In [2]:
demographics = pd.read_csv('Demo.csv')

In [3]:
# Inspect
demographics[:5]

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,...,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,41475,5,2,2,2,62,751,752,5,2,...,2,2,1,2,2,1,59356.356430,60045.772500,1,60
1,41476,5,2,1,2,6,81,82,5,,...,2,2,,,,,35057.218410,35353.210440,1,70
2,41477,5,2,2,1,71,859,860,3,1,...,2,2,1,2,2,1,9935.266183,10074.150070,1,67
3,41478,5,2,2,2,1,17,17,3,,...,2,2,,,,,12846.712060,14560.472650,2,59
4,41479,5,2,1,1,52,629,630,1,2,...,2,2,2,2,2,2,8727.797555,9234.055759,1,70

In [4]:
body = pd.read_csv('BMI.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (33,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# Inspect
body[:5]

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,41475,3,138.9,,,,,,154.7,,...,2,2,1,2,2,1,59356.356430,60045.772500,1,60
1,41476,1,22,,,,,,120.4,,...,2,2,,,,,35057.218410,35353.210440,1,70
2,41477,1,83.9,,,,,,167.1,,...,2,2,1,2,2,1,9935.266183,10074.150070,1,67
3,41478,1,11.5,,77.4,,,,,,...,2,2,,,,,12846.712060,14560.472650,2,59
4,41479,1,65.7,,,,,,154.4,,...,2,2,2,2,2,2,8727.797555,9234.055759,1,70

In [6]:
BMI = body.loc[:,['SEQN','BMXBMI']]

In [7]:
BMI[:5]

    SEQN BMXBMI
0  41475  58.04
1  41476  15.18
2  41477  30.05
3  41478
4  41479  27.56

In [8]:
demographics.drop(['SDDSRVYR','RIDEXPRG','RIDSTATR','RIDEXMON','RIDAGEYR',
           'RIDAGEMN','RIDAGEEX','DMQMILIT','DMDBORN2','DMDCITZN',
           'DMDYRSUS','DMDHRGND','DMDHRAGE','DMDHRBR2','DMDHREDU',
           'DMDHRMAR','DMDHSEDU','SIALANG','SIAPROXY','SIAINTRP',
           'FIALANG','FIAPROXY','FIAINTRP','MIALANG','MIAPROXY',
           'MIAINTRP','AIALANG','WTINT2YR','WTMEC2YR','SDMVPSU',
           'SDMVSTRA'], axis = 1,inplace= True)

Rename the columns

In [9]:
columns_dict= {'RIAGENDR':'Gender',
               'RIDRETH1':'Race_Ethnicity',
               'DMDEDUC3':'Education_Level_Children_Youth_6_19',
               'DMDEDUC2':'Education_Level_Adults_Over_20',
               'DMDSCHOL':'Now_attending_school',
               'DMDMARTL':'Marital_Status',
               'DMDHHSIZ':'number_of_people_in_the_Household',
               'DMDFMSIZ':'Total_number_of_people_in_the_Family',
               'INDHHIN2':'Annual_Household_Income',
               'INDFMIN2':'Annual_Family_Income',
               'INDFMPIR':'Ratio_of_family_income_to_povert'}

In [10]:
demographics.rename(columns = columns_dict,inplace=True)

In [11]:
# Inspect
demographics.transpose()

,0,1,2,3,4,5,6,7,8,9,...,10139,10140,10141,10142,10143,10144,10145,10146,10147,10148
SEQN,41475,41476,41477,41478,41479,41480,41481,41482,41483,41484,...,51614,51615,51616,51617,51618,51619,51620,51621,51622,51623
Gender,2,2,1,2,1,1,1,1,1,1,...,1,2,1,2,1,1,2,1,2,1
Race_Ethnicity,5,5,3,3,1,1,4,1,4,3,...,3,2,3,2,3,1,3,2,4,3
Education_Level_Children_Youth_6_19,,0,,,,0,,,,,...,,,,,,,,9,,
Education_Level_Adults_Over_20,3,,3,,1,,3,2,4,,...,4,1,3,1,5,1,2,,1,1
Now_attending_school,,,,,,,,,,,...,,,,,,,,1,,
Marital_Status,1,,1,,1,,5,1,1,,...,3,5,1,1,1,1,1,,2,2
number_of_people_in_the_Household,2,6,2,4,5,7,4,6,3,5,...,1,2,2,3,5,7,2,7,6,2
Total_number_of_people_in_the_Family,2,6,2,4,5,4,4,6,3,5,...,1,2,2,3,5,7,2,5,6,2
Annual_Household_Income,6,15,5,3,8,7,6,15,5,3,...,3,13,9,8,14,14,6,9,14,3
Annual_Family_Income,6,15,5,3,8,4,6,15,5,3,...,3,13,9,8,14,14,6,12,14,3
Ratio_of_family_income_to_povert,1.83,5,1.5,0.66,2.2,0.85,1.63,4.01,1.14,0.52,...,1.27,,3.93,2.84,3.83,2.75,2.48,,2.9,0.95

In [12]:
df = demographics.merge(BMI, on = 'SEQN')

In [13]:
# Inspect
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,9752,9753,9754,9755,9756,9757,9758,9759,9760,9761
SEQN,41475,41476,41477,41478,41479,41480,41481,41482,41483,41484,...,51614,51615,51616,51617,51618,51619,51620,51621,51622,51623
Gender,2,2,1,2,1,1,1,1,1,1,...,1,2,1,2,1,1,2,1,2,1
Race_Ethnicity,5,5,3,3,1,1,4,1,4,3,...,3,2,3,2,3,1,3,2,4,3
Education_Level_Children_Youth_6_19,,0,,,,0,,,,,...,,,,,,,,9,,
Education_Level_Adults_Over_20,3,,3,,1,,3,2,4,,...,4,1,3,1,5,1,2,,1,1
Now_attending_school,,,,,,,,,,,...,,,,,,,,1,,
Marital_Status,1,,1,,1,,5,1,1,,...,3,5,1,1,1,1,1,,2,2
number_of_people_in_the_Household,2,6,2,4,5,7,4,6,3,5,...,1,2,2,3,5,7,2,7,6,2
Total_number_of_people_in_the_Family,2,6,2,4,5,4,4,6,3,5,...,1,2,2,3,5,7,2,5,6,2
Annual_Household_Income,6,15,5,3,8,7,6,15,5,3,...,3,13,9,8,14,14,6,9,14,3
Annual_Family_Income,6,15,5,3,8,4,6,15,5,3,...,3,13,9,8,14,14,6,12,14,3
Ratio_of_family_income_to_povert,1.83,5,1.5,0.66,2.2,0.85,1.63,4.01,1.14,0.52,...,1.27,,3.93,2.84,3.83,2.75,2.48,,2.9,0.95
BMXBMI,58.04,15.18,30.05,,27.56,17.93,23.34,33.64,44.06,,...,22.63,25.03,42.4,30.97,29.96,30.08,28.31,17.72,31.53,32.27

In [14]:
df.rename(columns = {'SEQN':'Respondent_number'},inplace=True)

In [15]:
df.Gender.replace({2:'Female', 1:'Male'},inplace=True)

In [16]:
df.Race_Ethnicity.replace({1:'Mexican American', 
                           2:'Other Hispanic',
                           3:'Non-Hispanic White',
                           4:'Non-Hispanic Black',
                           5:'Other Race -Including Multi-Racial'},inplace=True)

In [17]:
Education_Level_Children_Youth_6_19 = {'0':'Never Attended / Kindergarten Only',
'1':'1st Grade',
'2':'2nd Grade',
'3':'3rd Grade',
'4':'4th Grade',
'5':'5th Grade',
'6':'6th Grade',
'7':'7th Grade',
'8':'8th Grade',
'9':'9th GradeÂ ',
'10':'10th Grade',
'11':'11th Grade',
'12':'12th Grade, No Diploma',
'13':'High School Graduate',
'14':'GED or Equivalent',
'15':'More than high school',
'55':'Less Than 5th Grade',
'66':'Less Than 9th GradeÂ ',
'77':'Refused',
'99':'Don\'t know'}

In [18]:
df.Education_Level_Children_Youth_6_19.replace(Education_Level_Children_Youth_6_19, inplace = True)

In [19]:
Education_Level_Adults_Over_20 = {'1':'Less Than 9th Grade',
'2':'9-11th Grade (Includes 12th grade with no diploma)',
'3':'High School Grad/GED or Equivalent',
'4':'Some College or AA degree',
'5':'College Graduate or above',
'7':'Refused',
'9':'Don\'t Know'}

In [20]:
df.Education_Level_Adults_Over_20.replace(Education_Level_Adults_Over_20, inplace = True)

In [21]:
Now_attending_school = {'1':'In school',
'2':'On vacation from school (between grades)',
'3':'Neither in school or on vacation from school (between grades)',
'7':'Refused',
'9':'Don\'t know'}

In [22]:
df.Now_attending_school.replace(Now_attending_school, inplace = True)

In [23]:
df.columns

Index(['Respondent_number', 'Gender', 'Race_Ethnicity',
       'Education_Level_Children_Youth_6_19', 'Education_Level_Adults_Over_20',
       'Now_attending_school', 'Marital_Status',
       'number_of_people_in_the_Household',
       'Total_number_of_people_in_the_Family', 'Annual_Household_Income',
       'Annual_Family_Income', 'Ratio_of_family_income_to_povert', 'BMXBMI'],
      dtype='object')

In [24]:
Marital_Status ={'1':'Married',
'2':'Widowed',
'3':'Divorced',
'4':'Separated',
'5':'Never married',
'6':'Living with partner',
'77':'Refused',
'99':'Don\'t know'}

In [25]:
df.Marital_Status.replace(Marital_Status,inplace = True )

In [26]:
Annual_Household_Income = {'1':'\$0 to \$4,999',
'2':'\$5000 to \$9999',
'3':'\$10000 to \$14999',
'4':'\$15000 to \$19,999',
'5':'\$20,000 to \$24,999',
'6':'\$25,000 \$34,999',
'7':'\$35,000 to \$44,999',
'8':'\$45,000 to \$54,999',
'9':'\$55,000 to \$64,999',
'10':'\$65,000 to \$74,999',
'12':'Over $20,000',
'13':'Under $20,000',
'14':'\$75,000 to \$99,999',
'15':'$100,000 and Over',
'77':'Refused',
'99':'Don\'t know'}

In [27]:
df.Annual_Household_Income.replace(Annual_Household_Income, inplace = True)

In [28]:
Annual_Family_Income = {'1':'\$0 to \$4,999',
'2':'\$5000 to \$9999',
'3':'\$10000 to \$14999',
'4':'\$15000 to \$19,999',
'5':'\$20,000 to \$24,999',
'6':'\$25,000 \$34,999',
'7':'\$35,000 to \$44,999',
'8':'\$45,000 to \$54,999',
'9':'\$55,000 to \$64,999',
'10':'\$65,000 to \$74,999',
'12':'Over $20,000',
'13':'Under $20,000',
'14':'\$75,000 to \$99,999',
'15':'$100,000 and Over',
'77':'Refused',
'99':'Don\'t know'}

In [29]:
df.Annual_Family_Income.replace(Annual_Family_Income, inplace = True)

In [30]:
df.loc[df['BMXBMI'] >= '30.00','Obese'] = 'Yes'

In [31]:
df.loc[df['BMXBMI'] < '30.00','Obese'] = 'No'

In [32]:
df.loc[df['BMXBMI'] < ' ','Obese'] = 'Unknown'

Filter out data that has BMXBMI information

In [33]:
df_with_BMI = df[df.Obese != 'Unknown'].copy()

Filter out adults data

In [34]:
df_with_BMI_adults = df_with_BMI[df_with_BMI.Education_Level_Adults_Over_20 != ' '].copy()

Eliminate 'Don't Know' and 'Refused' data

In [35]:
df_with_BMI_adults = df_with_BMI_adults[(df_with_BMI_adults.Education_Level_Adults_Over_20 != 'Don\'t Know') & 
                                        (df_with_BMI_adults.Education_Level_Adults_Over_20 != 'Refused') ]

In [36]:
df_with_BMI_adults.Education_Level_Adults_Over_20.unique()

array(['High School Grad/GED or Equivalent', 'Less Than 9th Grade',
       '9-11th Grade (Includes 12th grade with no diploma)',
       'Some College or AA degree', 'College Graduate or above'], dtype=object)

Compute obese rate for every group

In [38]:
df_adults_edu_obese_rate = df_with_BMI_adults.groupby('Education_Level_Adults_Over_20').agg({'Obese': lambda x: len(x[x.values == 'Yes'])/float(len(x))})

In [39]:
df_adults_edu_obese_rate.rename(columns = {'Obese':'Obese Rate'},inplace=True)

In [40]:
df_adults_edu_obese_rate.reset_index()

                      Education_Level_Adults_Over_20  Obese Rate
0  9-11th Grade (Includes 12th grade with no dipl...    0.378486
1                          College Graduate or above    0.282342
2                 High School Grad/GED or Equivalent    0.361327
3                                Less Than 9th Grade    0.372215
4                          Some College or AA degree    0.390947

Save it to csv file

In [41]:
df_adults_edu_obese_rate.to_csv('adults_edu_obese_rate.csv')

Now compute the obese rate for family income to poverty ratio range

There are some rows don't have the 'Ratio_of_family_income_to_poverty' information  
so to compute further, we have to eliminate them as well

In [42]:
df_with_BMI_adults = df_with_BMI_adults[df_with_BMI_adults.Ratio_of_family_income_to_povert != ' '].copy()

Value inside column (Ratio_of_family_income_to_povert) are string type,  so we convert them to float

In [43]:
df_with_BMI_adults.Ratio_of_family_income_to_povert = df_with_BMI_adults.Ratio_of_family_income_to_povert.astype(float)

Using pd.cut to allocate range for ratio of family income to poverty

In [44]:
df_with_BMI_adults['Income_to_poverty_ratio_range'] = pd.cut(df_with_BMI_adults['Ratio_of_family_income_to_povert'], 
                                                             [0,0.5,1,1.25,2,3,4,5,6], 
                                                             right = False, 
                                                             labels=['0-0.5','0.5-1','1-1.25','1.25-2','2-3','3-4','4-5','5-6'])

Compute obese rate for every poverty level

In [45]:
df_adults_poverty_ratio_obese_rate = df_with_BMI_adults.groupby('Income_to_poverty_ratio_range').agg({'Obese': lambda x: len(x[x.values == 'Yes'])/float(len(x))})

In [46]:
df_adults_poverty_ratio_obese_rate.rename(columns = {'Obese':'Obese Rate'},inplace=True)

In [47]:
df_adults_poverty_ratio_obese_rate.reset_index()

  Income_to_poverty_ratio_range  Obese Rate
0                         0-0.5    0.347973
1                         0.5-1    0.368557
2                        1-1.25    0.360190
3                        1.25-2    0.367850
4                           2-3    0.363636
5                           3-4    0.357143
6                           4-5    0.390123
7                           5-6    0.328492

In [48]:
df_adults_poverty_ratio_obese_rate.to_csv('adults_poverty_ratio_obese_rate.csv')

Now compute kids

In [49]:
df_with_BMI_kids = df_with_BMI[df_with_BMI.Education_Level_Children_Youth_6_19 != ' '].copy()

There are some rows don't have the 'Ratio_of_family_income_to_poverty' information  
so to compute further, we have to eliminate them as well

In [50]:
df_with_BMI_kids = df_with_BMI_kids[df_with_BMI_kids.Ratio_of_family_income_to_povert != ' '].copy()

In [51]:
df_with_BMI_kids.Ratio_of_family_income_to_povert = df_with_BMI_kids.Ratio_of_family_income_to_povert.astype(float)

In [52]:
df_with_BMI_kids['Income_to_poverty_ratio_range'] = pd.cut(df_with_BMI_kids['Ratio_of_family_income_to_povert'],
                                                           [0,0.5,1,1.25, 2, 3, 4,5,6], 
                                                           right = False, 
                                                           labels=['0-0.5','0.5-1','1-1.25','1.25-2','2-3','3-4','4-5','5-6'])

In [55]:
df_kids_poverty_ratio_obese_rate = df_with_BMI_kids.groupby('Income_to_poverty_ratio_range').agg({'Obese': lambda x: len(x[x.values == 'Yes'])/float(len(x))})

In [56]:
df_kids_poverty_ratio_obese_rate.rename(columns = {'Obese':'Obese Rate'},inplace=True)

In [57]:
df_kids_poverty_ratio_obese_rate.reset_index()

  Income_to_poverty_ratio_range  Obese Rate
0                         0-0.5    0.103053
1                         0.5-1    0.075594
2                        1-1.25    0.123762
3                        1.25-2    0.083756
4                           2-3    0.075145
5                           3-4    0.098039
6                           4-5    0.091549
7                           5-6    0.044643

In [58]:
df_kids_poverty_ratio_obese_rate.to_csv('kids_poverty_ratio_obese_rate.csv')