### Import Pandas for later use

In [17]:
from pandas import Series, DataFrame
import pandas as pd

<b>Read the original excel in</b>

In [18]:
df = pd.read_csv('/Users/Meiyuan/Downloads/Information is Beautiful- Data Breaches (public) - 2017 update.csv')

<b>Inspect the dataframe</b>

In [19]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,NaN,1st source link,2nd source link,3rd source,source name
1,NaN,NaN,Elaboration if there's an interesting story or...,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",1. Just email address/Online information 20 SS...,NaN,NaN,Show this item in the viz?,NaN,NaN,NaN,NaN,NaN
2,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol...,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
3,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160...,NaN,NaN,ABC
4,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN

<b>We need to use row 0 as the column header and remove row 1 </b>

<b>To use row 0 as header, extract it first </b>

In [20]:
columnHeaders = df.iloc[0:1].values.tolist()
#unpack columnHeader since it is a list of list
columnHeaders = columnHeaders[0]

Make the column headers upper case

In [21]:
columnHeaders

['Entity',
 'alternative name',
 'story',
 'YEAR',
 'records lost',
 'ORGANISATION',
 'METHOD OF LEAK',
 'interesting story',
 'NO OF RECORDS STOLEN',
 'DATA SENSITIVITY',
 'UNUSED',
 'UNUSED',
 'Exclude',
 nan,
 '1st source link',
 '2nd source link',
 '3rd source',
 'source name']

Make the column headers upper case

In [22]:
columnHeaders = [str(x).upper() for x in columnHeaders]

In [23]:
columnHeaders

['ENTITY',
 'ALTERNATIVE NAME',
 'STORY',
 'YEAR',
 'RECORDS LOST',
 'ORGANISATION',
 'METHOD OF LEAK',
 'INTERESTING STORY',
 'NO OF RECORDS STOLEN',
 'DATA SENSITIVITY',
 'UNUSED',
 'UNUSED',
 'EXCLUDE',
 'NAN',
 '1ST SOURCE LINK',
 '2ND SOURCE LINK',
 '3RD SOURCE',
 'SOURCE NAME']

<b>Re-read the CSV and use columnHeader as headers, and skip the first two rows </b>

In [24]:
df = pd.read_csv('/Users/Meiyuan/Downloads/Information is Beautiful- Data Breaches (public) - 2017 update.csv',skiprows=3,names=columnHeaders)

In [25]:
df.head(5)

,ENTITY,ALTERNATIVE NAME,STORY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,INTERESTING STORY,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,EXCLUDE,NAN,1ST SOURCE LINK,2ND SOURCE LINK,3RD SOURCE,SOURCE NAME
0,AOL,American Online,A former America Online software engineer stol...,0,92000000.0,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol...,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
1,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000.0,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160...,NaN,NaN,ABC
2,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000.0,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN
3,Citigroup,NaN,Blame the messenger! A box of computer tapes c...,1,3900000.0,financial,lost / stolen device,y,3900000,300,NaN,NaN,NaN,NaN,http://www.nytimes.com/2005/06/07/business/07d...,NaN,NaN,NY Times
4,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Master...",CardSystems was fingered by MasterCard after i...,1,40000000.0,financial,hacked,y,40000000,300,NaN,NaN,NaN,NaN,http://www.msnbc.msn.com/id/8260050/ns/technol...,NaN,NaN,MSNBC

### We only need column 0,3,4,5,6,9 so extract them

In [26]:
df = df.iloc[:,[0,3,4,5,6,9]]

In [27]:
df.head(5)

,ENTITY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
0,AOL,0,92000000.0,web,inside job,1
1,Automatic Data Processing,1,125000.0,financial,poor security,20
2,Ameritrade Inc.,1,200000.0,financial,lost / stolen device,20
3,Citigroup,1,3900000.0,financial,lost / stolen device,300
4,Cardsystems Solutions Inc.,1,40000000.0,financial,hacked,300

In [28]:
df.columns

Index([u'ENTITY', u'YEAR', u'RECORDS LOST', u'ORGANISATION', u'METHOD OF LEAK',
       u'DATA SENSITIVITY'],
      dtype='object')

<b> Convert the year number back to actual years for later data vizulization
"latest" will be converted to "2017" as well

In [29]:
yearCode = df['YEAR'].values.tolist()
dictYear = {'0': '2004', '1':'2005', '2':'2006', '3':'2007', '4':'2008', '5':'2009', '6':'2010', '7':'2011', '8':'2012', '9':'2013', '10':'2014', '11':'2015', '12':'2016', '13':'2017', '14':'2017'}
year = []
for code in yearCode:
    year.append(dictYear[str(code)])

<b> Append this column to the dataframe </b>

In [30]:
df.loc[:, 'ACTUAL YEAR'] = year

In [31]:
df.head(5)

,ENTITY,YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY,ACTUAL YEAR
0,AOL,0,92000000.0,web,inside job,1,2004
1,Automatic Data Processing,1,125000.0,financial,poor security,20,2005
2,Ameritrade Inc.,1,200000.0,financial,lost / stolen device,20,2005
3,Citigroup,1,3900000.0,financial,lost / stolen device,300,2005
4,Cardsystems Solutions Inc.,1,40000000.0,financial,hacked,300,2005

Swap the "YEAR" column with "ACTUAL YEAR"

In [32]:
neededCols = list(df)

In [33]:
neededCols

['ENTITY',
 'YEAR',
 'RECORDS LOST',
 'ORGANISATION',
 'METHOD OF LEAK',
 'DATA SENSITIVITY',
 'ACTUAL YEAR']

In [34]:
neededCols[1], neededCols[6] = neededCols[6], neededCols[1]

In [35]:
neededCols

['ENTITY',
 'ACTUAL YEAR',
 'RECORDS LOST',
 'ORGANISATION',
 'METHOD OF LEAK',
 'DATA SENSITIVITY',
 'YEAR']

In [36]:
df = df.ix[:,neededCols]

In [37]:
df[:5]

,ENTITY,ACTUAL YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY,YEAR
0,AOL,2004,92000000.0,web,inside job,1,0
1,Automatic Data Processing,2005,125000.0,financial,poor security,20,1
2,Ameritrade Inc.,2005,200000.0,financial,lost / stolen device,20,1
3,Citigroup,2005,3900000.0,financial,lost / stolen device,300,1
4,Cardsystems Solutions Inc.,2005,40000000.0,financial,hacked,300,1

Drop the coded "YEAR" column

In [38]:
df = df.drop('YEAR', axis=1)

In [39]:
df[:5]

,ENTITY,ACTUAL YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
0,AOL,2004,92000000.0,web,inside job,1
1,Automatic Data Processing,2005,125000.0,financial,poor security,20
2,Ameritrade Inc.,2005,200000.0,financial,lost / stolen device,20
3,Citigroup,2005,3900000.0,financial,lost / stolen device,300
4,Cardsystems Solutions Inc.,2005,40000000.0,financial,hacked,300

In [41]:
import numpy as np

Drop the two observations which have missing values

In [42]:
df= df.dropna()

Cast the number in "Records Lost" to integers

In [43]:
df['RECORDS LOST'] = df['RECORDS LOST'].astype(np.int64)

In [44]:
df[:5]

,ENTITY,ACTUAL YEAR,RECORDS LOST,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
0,AOL,2004,92000000,web,inside job,1
1,Automatic Data Processing,2005,125000,financial,poor security,20
2,Ameritrade Inc.,2005,200000,financial,lost / stolen device,20
3,Citigroup,2005,3900000,financial,lost / stolen device,300
4,Cardsystems Solutions Inc.,2005,40000000,financial,hacked,300

<b> Save the output to a csv file </b>

In [48]:
df.to_csv('dataForLab2.csv')

Insert two intermeidate visualizations and one final down below:

Intermediate results link:
https://public.tableau.com/profile/meiyuan.li#!/vizhome/Intermediate12/Intermediate1

### Comments on Intermediate 1
<ol>Pros: 
<li> Lists both the total number of breaches happend and total records of lost at the same time.</li> 
<li> Both bar charts shows "web" has the higest number.</li>
<li> An impression that web as a "tech-savy" company is not less breachable. </li>
</ol>

<ol>Cons: 
<li> Some orgranizations are also "tech-savy" but has a very low number. Sucn as tech, web tech, app</li> 
</ol>

### Comments on Intermediate 2
<ol>Pros: 
<li> Strong impression that web as a "tech-savy" company is much more likely breachable. </li>
</ol>

<ol>Cons: 
<li> "financial","healthcare","government" as "less-tech-savy" companies also has large numbers. </li> 

<li> Number of some small organization does not show.</li>
</ol>

In [50]:
%%HTML
<div class='tableauPlaceholder' id='viz1506731935550' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intermediate12&#47;Intermediate2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='2' /> <param name='site_root' value='' /><param name='name' value='Intermediate12&#47;Intermediate2' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intermediate12&#47;Intermediate2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1506731935550');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### How to improve
#### Group companies into "tech-savy" and "less-tech-savy" two groups

Final visualization link:
https://public.tableau.com/shared/B9RT9YJ23?:display_count=yes

This visualization strongly refutes this claim 
## “Security breaches do mostly occur in less-tech-savvy organizations”
This bubble chart groups "academic, energy, financial, government, government, healthcare, government, military, healthcare, legal, media, military, military, healthcare, retail, transport" into "less-tech-savy" bubble.
Another group contains "app, gaming, tech,(tech, retail), (tech, web), telecoms	,web, (web, gaming), (web, military), web, tech"

### Pros:
#### Easily show "Tech" compaines has more lost records indicates that they are not less breachable as people would think.

### Cons:
#### No way to tell what organizations are in which group

In [53]:
%%HTML
<div class='tableauPlaceholder' id='viz1506794768985' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9H&#47;9H6DM75FW&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='2' /> <param name='path' value='shared&#47;9H6DM75FW' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9H&#47;9H6DM75FW&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1506794768985');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>